.header-container {
  padding: 15px;
  background-color: #2c364c;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.header-logo {
  width: 120px;
}
.header-button {
  background-color: #6366f1;
  padding: 10px;
  border: 0px;
  color: #fff;
  border-radius: 10px;
}
.header-ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}
